//
// Blocks
// ====================================================================================================



// Header
// --------------------------------------------------

.header .block {

	.block-title {}

}



// Above the Content
// --------------------------------------------------

.content-above .block {

	.block-title {}

}



// Content
// --------------------------------------------------

.content .main .block {

	.block-title {}

}



// Sidebar
// --------------------------------------------------

.sidebar .block {
    padding: 10px;
    color: @sidebar-block-color;
    background-color: @sidebar-block-bg;
    border-top: 1px solid @sidebar-block-border-color;
    border-bottom: 5px solid @sidebar-block-border-color;

	.block-title {
	    margin: 0 0 10px 0;
	    color: @sidebar-block-color;
    	.font-size(24);
	}

	a {
    	color: inherit;
	}

	@media (max-width: @screen-sm) {
        margin: 0 -10px;
	}

	@media (min-width: @screen-sm) {
        margin-bottom: 10px;
	}

}

// Sub-navigation

.sidebar .subnav {
    padding-bottom: 0;
    color: fade(white, 80%);
    background-color: @nh-green;
    border-top-color: @nh-green-dark;
    border-bottom-color: @nh-green-dark;

	.block-title {
	    color: white;

    	a {
        	color: inherit;
    	}

	}

	ul {
	    margin: 0 -10px;
	    padding: 0;
	    list-style-type: none;

		li {
		    margin: 0;
		    padding: 5px 10px;
		    border-top: 1px solid fade(white, 20%);

			a {
			    color: inherit;

				&:hover,
				&:focus {
    				color: white;
				}

			}

		    &.active-trail {
		        color: white;
    		    background-color: fade(@nh-green-dark, 20%);
		    }

			ul {
    			padding-left: 10px;
    			.font-size(12);
    			line-height: 1.5;

    			li {
    			    border: none;

        			&.active-trail {
            			background-color: transparent;
        			}

    			}

			}

		}

	}

}



// Below the Content
// --------------------------------------------------

.content-below .block {

	.block-title {}

}



// Footer
// --------------------------------------------------

.footer .block {

	.block-title {}

}

// Copyright

.footer .copyright {}

// Credits

.footer .credits {

	a {

		&:hover,
		&:focus {}

	}

}
