//
// Blocks
// ====================================================================================================



// Header
// --------------------------------------------------

.header .block {

	.block-title {}

}



// Above the Content
// --------------------------------------------------

.content-above .block {

	.block-title {}

}



// Content
// --------------------------------------------------

.content .main .block {

	.block-title {}

}



// Sidebar
// --------------------------------------------------

.sidebar .block {
    padding: 10px;
    color: @sidebar-block-color;
    background-color: @sidebar-block-bg;
    border-top: 1px solid @sidebar-block-border-color;
    border-bottom: 5px solid @sidebar-block-border-color;

	.block-title {
	    margin: 0 0 10px 0;
	    color: @sidebar-block-color;
	    font-family: @font-family-serif;
	    font-style: italic;
    	.font-size(18);
    	font-weight: bold;
    	line-height: normal;
	}

	img {
    	max-width: 100%;
    	height: auto;
	}

	@media (max-width: @screen-sm) {
        margin: 0 -10px;
	}

	@media (min-width: @screen-sm) {
        margin-bottom: 20px;
	}

}

// Sub-navigation

.sidebar .subnav {
    padding-bottom: 0;
    color: fade(white, 80%);
    background-color: @nh-green;
    border-top-color: @nh-green-dark;
    border-bottom-color: @nh-green-dark;

	.block-title {
	    color: white;

    	a {
        	color: inherit;
    	}

	}

	ul {
	    margin: 0 -10px;
	    padding: 0;
	    list-style-type: none;

		li {
		    margin: 0;
		    padding: 5px 10px;
		    border-top: 1px solid fade(white, 20%);

			a {
			    color: inherit;

				&:hover,
				&:focus {
    				color: white;
				}

			}

		    &.active-trail {
		        color: white;
    		    background-color: fade(@nh-green-dark, 20%);
		    }

			ul {
    			padding-left: 10px;
    			.font-size(12);
    			line-height: 1.5;

    			li {
    			    border: none;

        			&.active-trail {
            			background-color: transparent;
        			}

    			}

			}

		}

	}

}

// Messages

.sidebar .messages {
}

// Giving

.sidebar .giving {
    padding: 0;
    background: transparent;
    border: none;

    .block-title {
        display: none;
    }

}



// Below the Content
// --------------------------------------------------

.content-below .block {
    padding-left: 20px;
    padding-right: 20px;

	.block-title {
	    margin: 0 0 10px 0;
	    color: @sidebar-block-color;
	    font-family: @font-family-serif;
	    font-style: italic;
    	.font-size(18);
    	font-weight: bold;
    	line-height: normal;
	}

	img {
    	max-width: 100%;
    	height: auto;
	}

	@media (max-width: @screen-sm) {
        margin: 0 -10px;
	}

}

// Messages

.content-below .messages {

    .messages-series-image {
        margin: 0 0 10px 0;

        img {
            display: block;
            border: 1px solid @sidebar-block-border-color;
        }

    }

    //.messages-item {

        .messages-item-date {
            margin: 0 0 3px 0;
            color: fade(@text-color, 50%);
            .font-size(14);
            font-weight: bold;
            line-height: normal;
        }

        .messages-item-title {
            margin: 0;
            color: @text-color;
            .font-size(24);
            line-height: normal;

            a {}

        }

        .messages-item-subtitle {
            margin: 0;
            color: fade(@text-color, 90%);
            .font-size(14);
            font-weight: bold;
            line-height: normal;
        }

        .messages-item-info {
            margin: 5px 0 0 0;
            .font-size(12);
            line-height: normal;
        }

    //}

    .messages-footer {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid @sidebar-block-border-color;

        p {
            margin: 0;
        }

    }

}

// Events

.content-below .events {

    .events-item {
        position: relative;
        min-height: 70px; min-height: 7.0rem;
        margin-bottom: 10px;
        padding: 10px 0 10px 50px; padding: 1.0rem 0 1.0rem 50px;
        border-top: 1px solid @sidebar-block-border-color;

        .events-item-title {
            margin: 0 0 10px 0;
            line-height: 1;
        }

        .events-item-date {
            position: absolute;
            top: 10px;
            left: 0;
            width: 40px;
            color: @nh-brown-light;
            font-family: @LeagueGothic;
            text-align: center;

            .events-item-date-month {
                display: block;
                text-transform: uppercase;
                .font-size(24);
                line-height: 1;
            }

            .events-item-date-day {
                display: block;
                .font-size(36);
                line-height: 1;
            }

        }

    }

    .events-footer {}

}

// News

.content-below .news {}



// Footer
// --------------------------------------------------

.footer .block {

	.block-title {}

}

// Copyright

.footer .copyright {

    .login {

        .btn {
            .button-variant(@text-color; fade(@nh-brown, 20%); transparent);
        }

    }

	@media (min-width: @screen-sm) {

	    .login {
            text-align: right;
        }

	}

}

// Credits

.footer .credits {

	a {

		&:hover,
		&:focus {}

	}

}
