//
// Drupal
// ====================================================================================================



// User Login Form
// --------------------------------------------------

#user-login-form {

	.form-text {}

	.item-list {

		ul {

			li {

				a {}

			}

		}

	}

}



// Toolbar
// --------------------------------------------------

#toolbar a {

	&:link, &:visited {
		.transition(none);
	}

}



// System Tabs
// --------------------------------------------------

@tabsBackgroundColor: fade(@text-color, 20%);
@tabsTextColor: fade(@text-color, 80%);

@tabsBackgroundColorActive: @body-bg;
@tabsTextColorActive: @text-color;

@tabsBorderColor: fade(@text-color, 40%);

.tabs {
	margin: -20px -20px 20px -20px;
	padding: 0;
	list-style-type: none;
	background-color: fade(@nh-blue-light, 50%);
	border-bottom: 1px solid @nh-blue-light;

	li {
		display: inline-block;
		margin: 0;
		padding: 0;
		border-right: 1px solid @nh-blue-light;

		a:link, a:visited {
			display: inline-block;
			padding: 10px 20px;
			color: @nh-blue;
		}

		a:hover, a:active {
		}

	}

	li.active {

		a {
		    margin-bottom: -1px;
		    padding-bottom: 11px;
			background-color: white;
			border-bottom-color: white;
		}

	}

}



// Contextual Links
// --------------------------------------------------

.contextual-links-wrapper a {
	.transition(none);
}



// Pager
// --------------------------------------------------

.item-list .pager {

	li {

		a {}

		&.pager-item {

			a {}

		}

		&.pager-first,
		&.pager-last,
		&.pager-next,
		&.pager-previous {
		}

		&.pager-current {
		}

	}

}

// Comments
// --------------------------------------------------

.comment-wrapper {

	.comment-wrapper-title {}

	.comment {

		.comment-author {}

		.comment-content {}

		.comment-date {}

		.comment-permalink {

			a {}

		}

		.links {

			li {

				a {}

			}

		}

	}

	.comment-new {}

	.comment-unpublished {}

	.comment-preview {}

	.comment-form-title {}

	.comment-form {}

	.indented {
		margin-left: 20px;
	}

}
