//
// Page
// ====================================================================================================



// Header
// --------------------------------------------------

.header {
    position: relative;
    padding-top: 10px;
    border-top: 5px solid @nh-brown-dark;

	@media (min-width: @screen-sm) {
        padding-top: 51px; padding-top: 5.1rem;
	}

	.logo h1,
	.navbar {
	    font-family: @LeagueGothic;
	    text-transform: uppercase;
	}

	.logo {
        margin-bottom: 10px;

	    h1 {
	        margin: 0;
	        padding: 0;
    	    .font-size(36);
    	    line-height: 1;

    	    a {
        	    display: inline-block;
    	    }

    	    img {
        	    display: block;
    	    }
	    }
	}

	.navbar {
	    position: static;
	    min-height: 0;
	    margin: 0;
	    padding: 0;
	    background-color: @nh-brown;
	    border: none;
	    .font-size(36);
	    line-height: 1;

	    .navbar-toggle {
	        position: absolute;
	        top: 15px;
	        right: 15px;
	        margin: 0;
    	    border-color: @nh-brown-light;

    	    .icon-bar {
        	    background-color: @nh-brown;
    	    }

	    }

    	.navbar-collapse {
    	    padding: 0;
    	    color: white;
    	    border: none;
    	    box-shadow: none;

    	    ul {
        	    margin: 0;
        	    padding: 15px;
        	    border-top: 1px solid @nh-brown-dark;
        	    list-style-type: none;

        	    li {
        	        margin: 5px 0;
                    padding: 0;

            	    a {
                        color: inherit;
            	    }
        	    }
    	    }
        }

        @media (min-width: @screen-sm) {
	        background-color: transparent;
    	    .font-size(24);
    	    line-height: 1;

            .navbar-collapse {
                color: @text-color;

            	ul {
            	    padding: 0;
            	    border: none;
        	        text-align: right;

                	li {
                    	display: inline-block;
                    	margin: 0 0 0 20px;

                    	a {
                    	    display: inline-block;
                    	    padding-bottom: 2px;
                        	border-bottom: 3px solid transparent;

                        	&:hover,
                        	&:active {
                        	    color: @link-color;
                                text-decoration: none;
                        	}

                    	}

                    	&.active-trail {

                    	    a {
                                border-bottom-color: @link-color;
                            }
                    	}
                	}
            	}
            }
        }
	}

	.secondary-menu {

	    @media (min-width: @screen-sm) {
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 0; padding: 0.5rem 0;
            width: 100%;
            color: white;
            background-color: @nh-brown;
            font-family: @font-family-serif;
            .font-size(13);
            font-style: italic;
            line-height: 1.5;
            text-align: right;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    display: inline-block;
                    margin: 0 0 0 5px;
                    padding: 0;

                    &:before {
                        content: "|";
                        margin-right: 5px;
                        color: fade(white, 30%);
                    }

                    &.first {

                        &:before {
                            content: none;
                            margin-right: 0;
                        }
                    }

                    a {
                        color: inherit;
                    }
                }
            }
    	}
    }
}



// Content
// --------------------------------------------------

.content-above {
}

.content {

	.main {
	    background-color: white;
	    border-top: 1px solid @nh-blue-light;
	    border-bottom: 5px solid @nh-blue-light;
	}

	.sidebar {
	}

}

.content-below {
}



// Footer
// --------------------------------------------------

.footer {
}
