//
// Page
// ====================================================================================================



// Header
// --------------------------------------------------

.header {
    position: relative;
    padding-top: 51px; padding-top: 5.1rem;

	.nav,
	.logo h1 {
	    font-family: @LeagueGothic;
	    text-transform: uppercase;
	}

	.logo {

	    h1 {
	        margin: 0;
	        padding: 0;
    	    .font-size(36);
    	    line-height: 1;

    	    a {
        	    display: inline-block;
    	    }

    	    img {
        	    display: block;
    	    }

	    }

	}

	.nav {
	    .font-size(24);
	    line-height: 1;

    	ul {
    	    margin: 0;
    	    padding: 0;
    	    list-style-type: none;
	        text-align: right;

        	li {
            	display: inline-block;
            	margin: 0 0 0 20px;
            	padding: 0;

            	a {
            	    display: inline-block;
            	    padding-bottom: 2px;
                	color: @text-color;
                	border-bottom: 3px solid transparent;
            	}

            	&.active-trail {

            	    a {
                        border-bottom-color: @link-color;
                    }

            	}

        	}

    	}

	}

	.secondary-menu {
        position: absolute;
        top: 0;
        left: 0;
        padding: 5px 0; padding: 0.5rem 0;
        width: 100%;
        color: white;
        background-color: @nh-brown;
        font-family: @font-family-serif;
        .font-size(13);
        font-style: italic;
        line-height: 1.5;
        text-align: right;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                margin: 0 0 0 5px;
                padding: 0;

                &:before {
                    content: "|";
                    margin-right: 5px;
                    color: fade(white, 30%);
                }

                &.first {

                    &:before {
                        content: none;
                        margin-right: 0;
                    }

                }

                a {
                    color: inherit;
                }

            }

        }

	}

}



// Content
// --------------------------------------------------

.content-above {
}

.content {

	.main {
	}

	.sidebar {
	}

}

.content-below {
}



// Footer
// --------------------------------------------------

.footer {
}
