//
// Print
// ====================================================================================================


@media print {

	// Hide elements
	// --------------------------------------------------

	.breadcrumbs,
	#toolbar,
	.content .main .tabs,
	.content .sidebar,
	.footer {
		display: none;
	}


	// Remove URLs from printing next to links
	// --------------------------------------------------

	a[href]:after {
		content: "";
	}


	// Page
	// --------------------------------------------------

	.header {
		padding-top: 0 !important;
		border: none !important;

		.logo {
			display: none;

			.logo__title img {
				width: auto;
				max-height: 1em;
			}

		}

	}

	.content .main {
		left: 0;
		width: 100%;

		.wrapper {
			padding: 0 !important;
			border: none !important;

			.main__header {

			}

		}

	}


	.field-name-field-image {
		float: right;
		max-width: 47% !important;
		margin: 0 0 3% 3% !important;
	}

	blockquote {
		margin: 1em 2em;
		padding: 0;
		border: none;
		.font-size(16);
		page-break-inside: auto;
	}

	.field-name-field-footer {
		page-break-inside: avoid;
	}


	// Drupal toolbar
	// --------------------------------------------------

	body.toolbar-drawer {
		padding-top: 0 !important;
	}

}
