//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

html {
  background: @html-bg;
}


// Links
// -------------------------

a {
  color: @link-color;
  text-decoration: none;
  .transition(all 0.2s linear);

  &:hover,
  &:focus {
    color: @link-hover-color;
    text-decoration: none;
  }
}

body:not(.section-home) .main a {
  border-bottom: 1px solid @nh-yellow;

  &:hover,
  &:focus {
    color: @link-hover-color;
  }
}
