//
// Scaffolding
// ====================================================================================================


// Body reset
// -------------------------

html {
	background: @htmlBackground;
	font-size: 62.5%;
}

body {
	background: @bodyBackground;
}


// Links
// -------------------------

a {
	.transition(all 0.2s linear);

	&:hover,
	&:focus {
	}
	
}
