//
// Template
// ====================================================================================================



// Styles
// --------------------------------------------------

// Content Alignment

.alignright {
	position: relative;
	float: right;
	margin: 0 0 20px 20px;
}

.alignleft {
	position: relative;
	float: left;
	margin: 0 20px 20px 0;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 20px auto;
}

// Article Listings

.view-article-listing {

	.views-row {
		clear: both;

		img {
			.alignleft;
		}

	}

}



// Page
// --------------------------------------------------

// Breadcrumbs

.content .main .breadcrumb {}



// Node
// --------------------------------------------------

// Publishing Information

.node .submitted {

	.node-date {}

}

// Image Field

.content .main .field-name-field-image {
	.alignright;
	border: 1px solid @nh-brown-light;

	a,
	img {
		display: block;
	}

	img {
		width: auto;
		height: auto;
	}

}

// File Upload Field

.field-file-upload {
    .clearfix;

    .field-file-upload__title {
        margin-bottom: 0;
        padding: 10px;
        color: white;
        background-color: @nh-blue;
        .font-size(16);
    }

    .field-file-upload__list {
        padding: 0;
        list-style-type: none;

        .field-file-upload__list__item {
            display: block;
            margin: 0;
            padding: 10px;
            background-color: fade(@nh-blue-light, 50%);
            border-top: 1px solid white;

            &:nth-child(even) {
                background-color: fade(@nh-blue-light, 70%);
            }

        }

    }

}

// Audio Field

.field-audio {
    margin-bottom: 10px;

    .mediaelement-audio {

        .mejs-container {
            width: 100% !important;

            .mejs-inner {

                // audio element
                .mejs-mediaelement {

                    audio {}

                }

                .mejs-layers {

                    .mejs-layer {}

                    .mejs-poster {}

                }

                // player controls
                .mejs-controls {
                    background: @nh-brown;

                    // generic button class (for playpause and mute)
                    .mejs-button {}

                    // play/pause button
                    .mejs-playpause-button {

                        button {}

                    }

                    // play modifier
                    .mejs-play {}

                    // pause modifier
                    .mejs-pause {}

                    // generic timecode (for current time and total time)
                    .mejs-time {}

                    // current time
                    .mejs-currenttime-container {

                        .mejs-currenttime {}

                    }

                    // time rail
                    .mejs-time-rail {

                        .mejs-time-total {
                            background: @nh-brown-dark;

                            .mejs-time-buffering {
                                background: fade(white, 20%);
                            }

                            .mejs-time-loaded {
                                background: @nh-blue;
                            }

                            .mejs-time-current {
                                background: fade(white, 80%);
                            }

                            .mejs-time-handle {}

                            .mejs-time-float {

                                .mejs-time-float-current {}

                                .mejs-time-float-corner {}

                            }

                        }

                    }

                    // total time
                    .mejs-time mejs-duration-container {

                        .mejs-duration {}

                    }

                    // mute modifier (for volume button and volume slider)
                    .mejs-mute {}

                    // unmute modifier
                    .mejs-unmute {}

                    // volume button (button that mutes/unmutes on click)
                    .mejs-volume-button {

                        button {}

                    }

                    // volume slider
                    .mejs-horizontal-volume-slider {

                        .mejs-horizontal-volume-total {
                            background: @nh-brown-dark;
                        }

                        .mejs-horizontal-volume-current {
                            background: fade(white, 80%);
                        }

                        .mejs-horizontal-volume-handle {}

                    }

                }

                // clear floats
                .mejs-clear {}

            }

        }

        // download link
        .mediaelement-download-link {
            margin-top: 3px;

            a {}

        }

    }

}
