//
// Typography
// ====================================================================================================


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
	line-height: normal;
}

h1, .h1 { font-size: @baseFontSize * 2.75; } // ~38px
h2, .h2 { font-size: @baseFontSize * 2.25; } // ~32px
h3, .h3 { font-size: @baseFontSize * 1.75; } // ~24px
h4, .h4 { font-size: @baseFontSize * 1.25; } // ~18px
h5, .h5 { font-size: @baseFontSize; }
h6, .h6 { font-size: @baseFontSize * 0.85; } // ~12px


// MISC
// ----

// Horizontal rules
hr {
	display: none;
}
