//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {

    > a {
    	color: @nh-green;
    	text-decoration: none;

    	&:hover,
    	&:focus {
        	color: @nh-green-dark;
        	text-decoration: none;
    	}

	}

}

h1, .h1 {
}

h2, .h2 {
    color: @nh-green;
}


// Misc
// -------------------------

blockquote {
	clear: both;
	padding: 0;
	margin: (@line-height-computed / 2) @line-height-computed;
	border: none;
	font-style: italic;

	footer {
		color: inherit;
		font-size: inherit;
		font-style: normal;

		&:before {
			content: "";
		}
	}
}

cite {
    font-style: italic;
}
