//
// Variables
// ====================================================================================================


// Fonts
@LeagueGothic: "League Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;


// Colors
@nh-green: #78944A;
@nh-green-dark: darken(#78944A, 20%);
@nh-blue: #66ADB1;
@nh-brown: #635B4C;


// Scaffolding
@html-bg: #F3F0EB;
@body-bg: none;
@text-color: @nh-brown;
@link-color: @nh-blue;


// Typography
@headings-font-family: @LeagueGothic;
