//
// Variables
// ====================================================================================================


//
// Colors
// -------------------------

@nh-green: #78944A;
@nh-green-dark: darken(#78944A, 20%);
@nh-blue: #66ADB1;
@nh-blue-light: lighten(@nh-blue, 30%);
@nh-brown: #635B4C;
@nh-brown-light: lighten(@nh-brown, 30%);
@nh-brown-dark: darken(@nh-brown, 20%);


//
// Scaffolding
// -------------------------

@html-bg: #F3F0EB;
@body-bg: none;
@text-color: @nh-brown;
@link-color: @nh-blue;


//
// Typography
// -------------------------

@LeagueGothic: "League Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
@headings-font-family: @LeagueGothic;


//
// Typography
// -------------------------

@icon-font-path: "../fonts/libs/bootstrap/";
